.expenseTableContainer {
  margin: 10px;
}

.mainContainer {
  justify-content: space-evenly;
  display: flex;
  margin: 10px;
}

.innerContainer {
  margin: 10px;
}

.mainHeaders {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.headerName {
  margin: 10px 0px;
  font-size: 26px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  text-shadow: 5px 6px 8px #adadad;
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  font-size: 22px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.label {
  font-size: 20px;
  font-weight: 700;
}

.labelName {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.addButton {
  text-align: right;
}

.btnContainer {
  display: flex;
}
