.dcContainer {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.dcSize {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: absolute;
}

.dcTitle {
  font-size: large;
  font-weight: bold;
  padding: 0px 10px;
}

.dcContent {
  font-size: medium;
  font-weight: 500;
  padding-left: 0px 10px;
}

.dcButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dcFlex {
  display: flex;
  margin: 5px;
}

.dcFavourite {
  position: absolute;
  left: 215px;
}
